<div>
    <div class="row" style="padding-bottom:20px;">
        <div class="col-md-10">
            <!--h4>&nbsp;questions list</h4-->
        </div>
        <div class="col-md-2">
            <button class="btn btn-md btn-success btn-block" (click)="openNewQuestion(contentNewQuestion)"> 
                add question
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">#</th>
                        <th width="70%">Questions</th>
                        <th width="10%" style="text-align: center">Rating</th>
                        <th width="10%" style="text-align: center">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of questions; let i = index">
                        <th scope="row">{{i}}</th>
                        <td>
                            {{item.questionText}}
                            <br>
                            <i>* {{item.categoryName}}</i>
                        </td>
                        <td style="text-align: center">{{((item.upVote*100)/(item.upVote + item.downVote)).toFixed(2)}}</td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-md btn-block" (click)="selectedQuestionIndex = i; openDetailQuestion(contentDetailQuestion)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="submit" class="btn btn-secondary btn-md btn-block" (click)="delQuestion(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #contentNewCategory let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Categories</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <categorynew-component [(selectedGroup)]="group"></categorynew-component>
    </div>

</ng-template>

<ng-template #contentNewQuestion let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">New Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <questionnew-component [(selectedGroup)]="group"></questionnew-component>
    </div>

</ng-template>

<ng-template #contentDetailQuestion let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Question Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <questiondetail-component [(selectedQuestionIndex)]="selectedQuestionIndex" [(questionsToShow)]="questions"></questiondetail-component>
    </div>

</ng-template>