<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer"
      aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/group/new" routerLinkActive="active">+ Create <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" #searchTerm >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="gotoSearch(searchTerm.value)" >Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">
  <hr>
  <footer>
    <p>examlr.com &copy; Company 2017</p>
  </footer>
</div>